* {
	box-sizing: border-box;
}

.node circle {
	stroke: #999;
	stroke-width: 0.01em;
}

.link {
	stroke: #ccc;
	stroke-width: 0.5px;
}

.node text {
	fill: #333;
	font-size: 0.1em;
	stroke-width: 1px;
}

.arrow {
	fill: #666;
}

svg {
	border: 1px solid red;
	width: 80%;
	max-height: 800px;
}


.bounds {
	border: 1px solid blue;
}
